@use '../sass/mixins.module.scss';
$arrow-sized: 5rem;
$arrow-position: translate(-15%, 0); 
$arrow-position-high: translate(-12%, -11%);
$arrow-position-low: translate(-14%, 5%);

.speed-zones{
    width: auto;
    height: auto;
    .zone-arrow{
        transform: $arrow-position;
        position: absolute;
        width: $arrow-sized;
        height: $arrow-sized;
        z-index: -100;
        @include mixins.border-round;
//        box-shadow: -3px 3px 3px 3px rgba($color: #000000, $alpha: 0.7);
        border: 2px solid black;
        .arrow-shaft{
            transform: translate($arrow-sized / 2.5 ,$arrow-sized / 3);
            position: absolute;
            background: inherit;
            width: $arrow-sized;
            height: $arrow-sized / 3;
            .arrow-point{              
                transform: translate($arrow-sized, $arrow-sized / -6);
                position: absolute;
                width: 0; 
                height: 0; 
                border-top: $arrow-sized / 3 solid transparent;
                border-bottom: $arrow-sized / 3 solid transparent;
            }
        }
    }


    @include mixins.flex-row;
    .zone-btns{
        @include mixins.flex-column;
        button{
            height: $arrow-sized * 0.6;
            width: $arrow-sized;
            margin: 1vh 1rem 1vh 2rem ;
            border: none;
            border-radius: 50%;
            background: rgba($color: white, $alpha: 0.7);
        }
    }
}

.zone-arrow.low{
    background: yellow;
    transform: rotate(40deg) $arrow-position-low;
    transition: all 0.8s ease;
    .arrow-point{
        border-left: $arrow-sized / 3 solid yellow;
        transition: all 0.8s ease;

    }
}
.zone-arrow.high{
    background: red;
    transform: rotate(-40deg) $arrow-position-high;
    transition: all 0.8s ease;
    .arrow-shaft{
        .arrow-point{
            border-left: $arrow-sized / 3 solid red;
            transition: all 0.8s ease;

        }
    }
}
.zone-arrow.mid{
    background: orangered;
    transform: rotate(0deg) $arrow-position;
    transition: all 0.8s ease;
    .arrow-point{
        border-left: $arrow-sized / 3 solid orangered;
        transition: all 0.8s ease;

    }
}