@use "../sass/mixins.module.scss";
$arrow-sized: 8rem;
$arrow-position: translate(-15%, -5%);
$arrow-position-high: translate(-9%, -12%);
$arrow-position-low: translate(-14%, 5%);

.speed-zones {
	section {
		margin-bottom: 20vh;
		.zone-arrow {
			background-size: cover;
			background-repeat: no-repeat;
			width: $arrow-sized * 2;
			height: $arrow-sized * 2;
			z-index: -100;
		}
		.speed {
			position: absolute;
			transform: translate(45%, 17%);
		}
		.zone-btns {
			z-index: 1000;
			position: aboslute;
			margin-left: 12rem;
			transform: translate(0, -10%);
			//transform: translateX(50%);
			@include mixins.flex-column;
			button {
				@include mixins.button1;
				height: $arrow-sized * 0.8;
				width: $arrow-sized / 1.5;
				margin: 0 1rem 0 2rem;
				opacity: 0;
			}
			button.low,
			button.high {
				transform: translate(-50%, 0);
			}
		}
	}
}

.zone-arrow.low {
	background-image: url("../../img/_lowatk.png");
	transition: all 0.8s ease;
}
.zone-arrow.high {
	background-image: url("../../img/_highatk.png");
	transition: all 0.8s ease;
}

.zone-arrow.mid {
	background-image: url("../../img/_midatk.png");
	transition: all 0.8s ease;
}
