@use "../sass/mixins.module.scss";

.character-name {
	@include mixins.inc-fonts;
	font-size: mixins.$font-large;
	letter-spacing: 5px;
	width: 100vw;
	position: absolute;
	background: transparent;
	top: 0;
	left: 0;
	z-index: 100;
}
