@use "../sass/mixins.module.scss";

.damage {
	@include mixins.flex-row;
	@include mixins.bgimage;
	height: mixins.$font-xl * 3;
	width: mixins.$font-xl * 3;
	font-size: mixins.$font-xl * 1.5;
	background-image: url("../../img/dmg-low.png");
	section {
		transform: translateY(-15%);
	}
	margin-bottom: 5vh;
}
