@use "../sass/mixins.module.scss";

.health {
	@include mixins.bgimage;
	@include mixins.flex-row;
	font-size: mixins.$font-xl;
	height: mixins.$font-xl * 1.5;
	width: mixins.$font-xl * 1.5;
	position: absolute;
	z-index: 1000;
	top: 5vh;
	left: 5px;
	background-image: url("../../img/heart.png");
}
