@use '../sass/mixins.module.scss';

@keyframes health{
    0%{
        background: crimson;
        transform: scale(1);
    }
    50%{
        background: red;
        transform: scale(1.01);
    }
    100%{
        background: crimson;
        transform: scale(1);
    }
}

.health-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    border: black 2px solid;
    height: 95vh;
    width: 5vw;
    span{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 4vw;
        background: crimson;
        animation: health 0.7s ease infinite;
    }

}