@use "../sass/mixins.module.scss";

.hit-block-buttons {
	position: fixed;
	bottom: 0;
	right: 0;
	@include mixins.flex-column;
	flex-direction: column-reverse;
	button {
		@include mixins.button1;
		border: none;
		background: transparent;
		box-shadow: none;
	}
}
