@use "../sass/mixins.module.scss";
.player-change-button {
	@include mixins.flex-column;
	position: fixed;
	top: 5vh;
	right: 0;
	z-index: 1000;
	button {
		@include mixins.button1;
		min-height: 4rem;
		height: auto;
		font-size: mixins.$font-normal;
	}
	i {
		@include mixins.inc-fonts;
		padding: 2rem;
	}
}
